<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1><a href="">Django Blog</a></h1>
    </div>
    <div>
        <p>published: 11.07.2017, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>fjdsklfjdskl</p>
    </div>
    <div>
        <p>published: 11.07.2017, 15:14</p>
        <h2><a href="">My second post</a></h2>
        <p>kkkkkkkkkkkkkkkkk</p>
    </div>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>